@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}

#checkout_container {
  /* border: 2px solid black; */
  height: 80vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(119, 136, 153, 0.3);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

aside {
  /* border: 2px solid red; */
}

#checkout1 {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  padding-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
}

#checkout1>h1 {
  font-size: 45px;
}

#checkout2 {
  flex-basis: 70%;
  overflow: auto;
}

#checkout3 {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.29);
}

#checkout3>button {
  border: none;
  padding: 15px 40px;
  font-size: 15px;
  background-color: rgba(243, 80, 243, 0.727);
  font-weight: 600;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_container {
  display: flex;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product_container1 {
  flex-basis: 15%;
}

.product_container2 {
  flex-basis: 85%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.container {
  width: 100%;
  max-width: 1200px; /* keeps desktop layout */
  margin: 0 auto;
  padding: 0 15px; /* adds spacing on mobile */
}

img {
  max-width: 100%;
  height: auto;
}