@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  /* color: white; */
}

#logo,
h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}

nav {
  height: 100px;
  display: flex;
  /* flex-direction: column; */
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
  /* color:white ; */
}

#nav_one {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

#nav_two {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* color: white; */
}

#nav_two>a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
  /* color: white; */
}

#nav_two>a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid red;
  transition: width 0.5s;
}

#nav_two>a:hover::after {
  width: 100%;
}

#nav_three {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 40px;
  /* color: white; */
}

#nav_three>i {
  font-size: 25px;
}

#cart_quantity {
  height: 20px;
  width: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 120px;
}

#cart_price {
  font-size: 20px;
  font-weight: 600;
}

#products_first_page {
  height: 50vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#products_first_page>h1 {
  font-size: 80px;
  text-shadow: 2px 2px 5px black;
}

#products_first_page>p {
  font-size: 18px;
}

#products_second_page {
  padding: 40px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#products_second_page>input {
  height: 40px;
  width: 300px;
  padding-left: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.368);
}

#sunglasses_container {
  margin-top: 50px;
}

#sunglasses_container>h1 {
  /* border: 2px solid red; */
  padding: 20px 20px;
  margin: 20px 40px;
  font-size: 50px;
  border-left: 10px solid rgb(255, 0, 136);
  color: black;
}

.products_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product_card {
  border-radius: 10px;
  flex-basis: 30%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-shadow: rbga(0, 0, 0, 0.24)0px 3px 8px;
  color: black;
}

.product_card>img {
  height: 350px;
  width: 400px;
  border-radius: 10px;
}

.card_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.card_details1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.minus_btn,
.plus_btn {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
}

.card_details2>p {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50%;
}

#watch_container {
  margin-top: 50px;
}

#watch_container>h1 {
  /* border: 2px solid red; */
  padding: 20px 20px;
  margin: 20px 40px;
  font-size: 50px;
  border-left: 10px solid rgb(255, 0, 136);
  /* color: white; */
}

#accessories_container_container {
  margin-top: 50px;
}

#accessories_container>h1 {
  /* border: 2px solid red; */
  padding: 20px 20px;
  margin: 20px 40px;
  font-size: 50px;
  border-left: 10px solid rgb(255, 0, 136);
  /* color: white; */
}

#cloth_container {
  margin-top: 50px;
}

#cloth_container>h1 {
  /* border: 2px solid red; */
  padding: 20px 20px;
  margin: 20px 40px;
  font-size: 50px;
  border-left: 10px solid rgb(255, 0, 136);
  /* color: white; */
}

/*------FOOTER PAGE----------*/
#fourth_page {
  height: 50vh;
  color: black;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: wheat;
}

#info_container {
  flex-basis: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid yellow; */
}

#info1,
#info2,
#info3,
#info4 {
  flex-basis: 25%;
  height: 100%;
}

#info1,
#info2,
#info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0px 10px;
}

#info1>h1,
#info2>h2,
#info3>h1,
#info4>h1,
#info4_subscribe>h1 {
  font-size: 40px;
  text-align: center;
}

#info1>h3 {
  font-size: 15px;
  font-weight: 400;
}

#info1>p {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

#info2,
#info3 {
  gap: 30px;
  /* border: 2px solid greenyellow; */
}

#info2>ul {
  font-size: 20px;
  /* border: 2px solid yellow; */
  width: 100%;
  padding-left: 125px;
}

#info3>ul {
  font-size: 20px;
  /* border: 2px solid yellow; */
  width: 100%;
  padding-left: 65px;
  padding-bottom: 10px;
}

ul>li {
  font-size: 20px;
  font-weight: 200;

}

#info4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red;  */
  padding-top: 50px;
  gap: 10px;
}

#input_container {
  width: 100%;
  /* border: 2px solid red; */
  padding-left: 40px;
}

#input_container>input {
  height: 30px;
  width: 200px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.647);
  padding-left: 20px;
}

#input_container>button {
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

#info4_contact {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
}

#icon_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  gap: 10px;
  /* border: 2px solid yellow; */
}

.icon {
  font-size: 30px;
  /* height: 55px;
  width: 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#info4_subscribe {
  /* border: 2px solid blue; */
  width: 100%;
}

footer {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(0, 0, 0, 0.201);
  font-size: 22px;
}

/* -------SIDEBAR---------- */
#sidebar_container {
  height: 100vh;
  width: 20vw;
  right: -350px;
  position: fixed;
  background-color: white;
  z-index: 1000;
  color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.8s 0s ease;
}

#sidebar1 {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.378);
}

#sidebar2 {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding-top: 20px;
}

#sidebar3 {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.378);
}

#sidebar3>h2 {
  font-size: 30px;
}

#sidebar3>h2>span {
  font-size: 30px;
}

#sidebar3>button {
  padding: 10px 0px;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(0, 149, 255);
  color: black;
  font-weight: 600;
  font-size: 20;
  border: none;
}

.cart_item {
  /* border: 2px solid red; */
  border-radius: 10px;
  display: flex;
  margin-top: 30px;
  font-size: 15PX;
  padding: 15px;
}

.cart_item1 {
  padding: 10px;
  display: flex;
}

.cart_item2 {
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cart_item1>img {

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 10px;
}

.cart_item2_details {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;

}

html {
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1200px; /* keeps desktop layout */
  margin: 0 auto;
  padding: 0 15px; /* adds spacing on mobile */
}

img {
  max-width: 100%;
  height: auto;
}