@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  padding-top: 100px;
}

#logo,
h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}

nav {
  height: 90px;
  display: flex;
  color: white;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
  /* border: 2px solid white; */
}

#nav_one {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_two {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#nav_two>a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  position: relative;
}

#nav_two>a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: width 0.5s;
}

#nav_two>a:hover::after {
  width: 100%;
}

#nav_three {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: relative;
}

#nav_three>i {
  font-size: 25px;
}

#cart_quantity {
  height: 15px;
  width: 15px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 20px;
  right: 165px;
}

#cart_price {
  font-size: 20px;
  font-weight: 600;
}

#slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  padding: 0px 70px;
  position: relative;
}

#slider_container>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hide {
  display: none;
}

#left_arrow,
#right_arrow {
  height: 20px;
  width: 20px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left_arrow {
  left: 100px;
}

#right_arrow {
  right: 100px;
}

/*-------------------------- Second Page--------------------------------- */

#second_page {
  height: 60vh;
  /* border: 5px solid green; */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card>img {
  height: 400px;
}

.layer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid white; */
  gap: 130px;
  bottom: -400px;
  background-color: rgba(0, 0, 0, 0.212);
  transition: all 0.8s 0s ease;
  width: 100%;
  position: absolute;
}

.card:hover>.layer {
  bottom: 5px;
}

.layer>a>button {
  background-color: #9f78ff;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  position: relative;
}

.layer>p {
  background-color: rgba(29, 37, 71, 0.5);
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-family: "Cormorant Garamond", serif;
}


/*-------------------------- Third Page--------------------------------- */

#third_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#third_page>img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

#third_page_layer {
  position: absolute;
  height: 0%;
  width: 0%;
  opacity: 0;
  /* border: 10px solid red; */
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  transition: all 0.7s 0s ease;
}

#third_page_layer>h1 {
  font-size: 0px;
  text-shadow: 2px 2px 5px black;
  transition: all 0.7s 0s ease;
}

#third_page_layer>p {
  font-size: 0px;
  /* width: 100%; */
  transition: all 0.7s 0s ease;
}

#third_page>img:hover+#third_page_layer,
#third_page_layer:hover {
  height: 100%;
  width: 50%;
  opacity: 1;
}

#third_page_layer:hover>h1 {
  font-size: 60px;
}

#third_page_layer:hover>p {
  font-size: 20px;
}

/* -----------------Fourth Page------------------- */
#fourth_page {
  height: 50vh;
  color: black;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: wheat;
}

#info_container {
  flex-basis: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid yellow; */
}

#info1,
#info2,
#info3,
#info4 {
  flex-basis: 25%;
  height: 100%;
}

#info1,
#info2,
#info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 0px 10px;
}

#info1>h1,
#info2>h2,
#info3>h1,
#info4>h1,
#info4_subscribe>h1 {
  font-size: 40px;
  text-align: center;
}

#info1>h3 {
  font-size: 15px;
  font-weight: 400;
}

#info1>p {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

#info2,
#info3 {
  gap: 30px;
  /* border: 2px solid greenyellow; */
}

#info2>ul {
  font-size: 20px;
  /* border: 2px solid yellow; */
  width: 100%;
  padding-left: 125px;
}

#info3>ul {
  font-size: 20px;
  /* border: 2px solid yellow; */
  width: 100%;
  padding-left: 65px;
  padding-bottom: 10px;
}

ul>li {
  font-size: 20px;
  font-weight: 200;

}

#info4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red;  */
  padding-top: 50px;
  gap: 10px;
}

#input_container {
  width: 100%;
  /* border: 2px solid red; */
  padding-left: 40px;
}

#input_container>input {
  height: 30px;
  width: 200px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.647);
  padding-left: 20px;
}

#input_container>button {
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

#info4_contact {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */
}

#icon_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  gap: 10px;
  /* border: 2px solid yellow; */
}

.icon {
  font-size: 30px;
  /* height: 55px;
  width: 55px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#info4_subscribe {
  /* border: 2px solid blue; */
  width: 100%;
}

footer {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(0, 0, 0, 0.201);
  font-size: 22px;
}
.container {
  width: 100%;
  max-width: 1200px; /* keeps desktop layout */
  margin: 0 auto;
  padding: 0 15px; /* adds spacing on mobile */
}

img {
  max-width: 100%;
  height: auto;
}